/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


/*
*******************************************************
These styles are used for login-form
*******************************************************
*/
div.login-panel
{
    margin: 30px auto;
    width: 350px;
    background-color: #E5E5E5;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

div.login-panel-header
{
    color: white;
    background-color: #828282;
    font-size: 14pt;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
}


/*
*******************************************************
These styles are used to format form elements vertically
*******************************************************
*/
div.v-form-label-block
{
    float: left;
    padding: 10px 5px;
    width: 110px;
    text-align: left;
}

div.v-form-control-block, div.v-form-value-block
{
    float: left;
    padding: 5px 5px;
    width: auto;
    text-align: left;
}

div.v-form-value-block
{
    padding: 10px 5px;
    width: 150px;
}

div.v-form-control-block input
{
    width: 150px;
}

div.v-form-control-block textarea
{
    width: 150px;
}

div.v-form-control-block select
{
    width: 157px;
}

div.new-line-before
{
    clear: left;
}

div.new-line-block
{
    clear: both;
}

div.form-column
{
    float: left;
}

.v-spacer-before-10
{
    margin-top: 10px;
}


/*
*******************************************************
These styles are used to format form elements horizontally
*******************************************************
*/
div.h-form-label-block
{
    float: left;
    padding: 10px 0px;
}

div.h-form-control-block
{
    float: left;
    padding: 5px 0px;
}

div.h-form-control-block input
{
    width: 120px;
}

div.h-form-control-block select
{
    width: 127px;
}

span.h-spacer-5, span.h-spacer-10, span.h-spacer-20
{
    visibility: hidden;
}

span.h-spacer-5
{
    border-left: 5px solid white;
}

span.h-spacer-10
{
    border-left: 10px solid white;
}

span.h-spacer-20
{
    border-left: 20px solid white;
}

.h-spacer-before-10
{
    margin-left: 10px;
}

.h-spacer-before-15
{
    margin-left: 15px;
}


/*
*******************************************************
These styles are used in blocks of buttons and input controls
*******************************************************
*/
div.inputs-block
{
    text-align: center;
}

div.top-filters-buttons-block, div.buttons-block
{
    text-align: center;
}

div.top-filters-buttons-block
{
    margin: 10px 0px;
}

div.buttons-block
{
    margin-top: 15px;
}


/*
*******************************************************
Common styles
*******************************************************
*/
.header1
{
    font-weight: bold;
    font-size: 17pt;
    margin: 20px 0px;
    text-align: center;
}

/*
*******************************************************
These styles are used to override standard styles in menu
*******************************************************
*/
/*this is a custom style for items of the 2nd level*/
.menu-item-2
{
    font-size: 11px;
}